$color-white: #ffffff;
$color-white-op: rgba(255, 255, 255, 0.2);
$color-gray: #5e5e5e;
$color-gray_p1: #a9a9a9;
$color-gray_p2: #7a7a7a;
$color-gray-op: rgba(33, 33, 33, 0.9);
$color-black_1: #171717;
